/*------------------------------------------------------------------ 
Project:      Inkscape Tutorials   (tutorials)
--------------------------------------------------------------------*/  

.wrapper .tutorial div#tut-header,
.wrapper .tutorial div#tut-footer {
    display: none;
}

.tutorial {
    background: #fff;
    font: 1em sans-serif;
    text-align: center;
}
.tutorial #tut-container {
    margin: 0 auto;
    width: 750px;
    text-align: left;
    margin-top: 10px;
    position: relative;
    background: url(tutorial-html-header.png) no-repeat top -10px left 0px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}
.tutorial #tut-container::before {
    display: block;
    content: " ";
    width: 750px;
    height: 10px;
    background: url(tutorial-html-header.png) no-repeat;
    position: absolute;
    top: -10px;
}
.tutorial #tut-header {}
.tutorial h1 {
    font: italic normal 2em/1em sans-serif;
    text-transform: lowercase;
    color: #fff;
    padding-top: 10px;
}
.tutorial h1 a {
    display: inline-block;
    width: 400px;
    height: 30px;
    color: transparent;
    text-decoration: none;
    margin: 0;
}
.tutorial h1 #tut {
    margin-left: 300px;
    font: italic 24pt serif;
}
.tutorial h1 #tut-title {
    text-transform: uppercase;
    font-style: normal;
    font-size: .6em;
    letter-spacing: .25em;
}
body.tutorial #tut-content {
    border-top: none;
    padding: 0 15px 120px 15px;
    background: url(tutorial-html-footer.png) no-repeat bottom left;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}
.tutorial #tut-intro {
    font-style: italic;
    padding: 0 2em;
    text-align: justify;
    font: italic 1em sans-serif;
    color: #454545;
}
.tutorial h2,
.tutorial h3,
.tutorial h4,
.tutorial h5,
.tutorial h6 {
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.tutorial h2 {
    font-size: 1.3em;
    margin: 1.5em 0 .5em 0;
}
.tutorial h3 {
    font-size: 1em;
    margin: 1.25px 0 .5em 0;
    font-style: italic;
}
.tutorial p {
    margin-bottom: 1em;
    line-height: 1.65em;
}
.tutorial #tut-footer {
    font: italic .8em serif;
    padding: 10px;
}
.tutorial kbd {
    font-family: mono;
    line-height: 1em;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    padding: .2em;
    white-space: nowrap;
    margin: 0 .1em;
    cursor: default;
}
.tutorial kbd:hover {
    box-shadow: 0px 15px 25px -5px rgba(255, 255, 255, .9);
    transform: scale(1.03);
}
.tutorial kbd:active {
    box-shadow: 0px 4px 8px -5px rgba(255, 255, 255, .3);
    transform: scale(.98);
}
.tutorial span.menu-command {
    color: #777;
    font: italic small-caps bold 1em sans-serif;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 -0.1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
}
.tutorial span.menu-command:hover {
    background-size: 100% 100%;
}
.tutorial span.firstterm {
    font-style: italic;
}
